/*html {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: lightgray;
}*/

div {
  border-radius: 20%;
}

.slider {
  max-width: 600px;
  margin: auto;
  arrows: false;
}
.ba-slider {
  width: 480px;
  margin: auto;
  border: 5px solid #000;
}
