.cookie-message {
  width: 200px;
  position: relative;
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
  background: #111 url(https://i.emezeta.com/img/cookiem.png) 245px 45px no-repeat;
}
.cookie-message p {
  color: #FFF;
}
.cookie-message a {
  color: #2AF;
}
.selectize-control {
  font-family: 'Open Sans';
}
.selectize-input .item {
  background: linear-gradient(steelblue, blue)!important;
  boder: 1px solid steelblue!important;
  color: white!important;
  border-radius: 5px;
}
